# Dependencias
node_modules/
dist/
build/
.next/

# Entorno y credenciales
.env
.env.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Base de datos y respaldos locales
*.sql.bak
*.dump

# IDE y Sistema Operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
