PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://pos_admin:pos_password_2026@localhost:5432/pos_erp_hotel?schema=public"
JWT_SECRET="cambiar_por_un_secreto_seguro_en_produccion"
JWT_EXPIRES_IN="8h"
